<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Panel component</title>
</head>
<body>
    <div class="component">
        <aside class="display-panel">
            <h2 class="display-panel__title">Panel Title</h2>
            <p class="display-panel__subtitle">Panel subtitle</p>
            <div class="display-panel__panel-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, quas! Voluptates, temporibus corrupti animi tenetur rem fugiat cum quod omnis ab! Adipisci porro suscipit odio architecto fugiat magni fuga sit?</p>
            </div>
        </aside>
    </div>
    <script src="script.js"></script>
</body>
</html>