:root {
    --letter-spacing: 1px;
    --color-bg: #16181ef8;
    --color-fg: #aaa;
    --border-radius: .3em;
    --panel-padding: 2em;
    --panel-border: 2px solid #313237;
    --font-anonymous:  "Anonymous Pro", sans-serif;
    --font-freemono:  "Free Mono", sans-serif;
    --font-lekton:  "Lekton", sans-serif;
    --font-officecode:  "Office Code Pro", sans-serif;
}

@font-face {
    font-family: "Anonymous Pro";
    font-weight: 400;
    font-style: normal;
    src: url(../../assets/fonts/Anonymous_Pro.ttf);
}

@font-face {
    font-family: "Free Mono";
    font-weight: 400;
    font-style: normal;
    src: url(../../assets/fonts/FreeMono.ttf);
}

@font-face {
    font-family: "Free Mono";
    font-weight: 700;
    font-style: normal;
    src: url(../../assets/fonts/FreeMonoBold.ttf);
}

@font-face {
    font-family: "Lekton";
    font-weight: 400;
    font-style: normal;
    src: url(../../assets/fonts/Lekton-Regular.ttf);
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 400;
    font-style: normal;
    src: url(../../assets/fonts/officecodepro-regular.otf);
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 400;
    font-style: italic;
    src: url(../../assets/fonts/officecodepro-regularitalic.otf);
}

@font-face {
    font-family: "Office Code Pro";
    font-weight: 300;
    font-style: normal;
    src: url(../../assets/fonts/officecodepro-light.otf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-officecode);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    color: var(--color-fg);
    background: url(../../assets/img/background.jpg), #aaa;
}

p {
    font-weight: 300;
}

.display-panel {
    max-width: 600px;
    padding: var(--panel-padding);
    border: var(--panel-border);
    border-radius: var(--border-radius);
    background: var(--color-bg);
}

.display-panel__title,
.display-panel__subtitle {
    text-align: center;
}

.display-panel__title {
    margin-bottom: 0;
    text-transform: uppercase;
}

.display-panel__subtitle {
    margin-top: .3em;
    font-style: italic;
}

.display-panel__panel-content {
    padding: 1rem 0;
    text-align: justify;
}