@import "../../assets/css/component.css";
@import "../../assets/css/variables.css";
@import "../../assets/css/fonts.css";

/* Panel Component */
.display-panel {
    max-width: 600px;
    padding: var(--panel-padding);
    border: var(--panel-border);
    border-radius: var(--border-radius);
    background: var(--color-bg);
}

.display-panel__title,
.display-panel__subtitle {
    text-align: center;
}

.display-panel__title {
    margin-bottom: 0;
    text-transform: uppercase;
}

.display-panel__subtitle {
    margin-top: .3em;
    font-style: italic;
}

.display-panel__panel-content {
    padding: 1rem 0;
    text-align: justify;
}
/* END Panel Component */
