@import "./variables.css";

/* App Layout */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    grid-template-rows: minmax(0, 120px) minmax(0, 1fr) minmax(0, 30px);
    height: 100%;
}

.appContent {
    display: grid;
    grid-template-rows: minmax(0, 40px) minmax(0, 60px) repeat(2, minmax(0, 1fr)) minmax(0, 60px);
}
/* END App Layout */
