:root {
    --layout-padding: 0 calc(.5rem + 1vw);
    --layout-padding-negative: 0 calc((.5rem + 1vw) * -1);
    --color-fg: #979797;
    --color-bg: #2c2c2c;
    --color-bg-darker: #232323;
    --color-green: #00fF99;
    --color-red: #ff652f;
    --color-yellow: #ffd200;
    --color-blue: #44d2ff;
}
